/*Personalizacion de mi codigo*/

/* Importing required fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&family=Pixelify+Sans&display=swap');

/* Styling the body */
/*change background to an image */
body {
  font-family: 'Pixelify Sans', sans-serif;
  background-image: url(https://i.imgur.com/mPIqqC9.png);
}

/* Styling the pet selection section */
#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling the title */
.titulo {
  color: white;
  font-size: 70px;
  font-family: 'Pixelify Sans', cursive;
}

/* Styling the subtitle */
.subtitulo {
  color: white;
  font-size: 35px;
}

/* Styling the cards container */
.tarjetas {
  display: flex;
  gap: 10px;
}

/* Styling each card */
.tarjeta-de-mokepon {
  /*cambio de tamaño de cada label de cada personaje */
  width: 360px;
  height: 200px;
  background: #11468F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
  font-size: 30px;
  /*colocar opacidad a la seccion de donde aparecen los personajes 
  Como hacer que esto no afecte a las imagenes de los personajes*/
  opacity: 0.7;
  position: relative; /* Esta línea permite que z-index funcione */
  /* Aquí van el resto de tus estilos... */
}

/* Estilo de la tarjeta de mascota cuando el mouse pasa sobre ella */
.tarjeta-de-mokepon:hover {
  transform: scale(1.2); /* Esta línea aumenta el tamaño de la tarjeta en un 20% */
  z-index: 100; /* Esta línea hace que la tarjeta sobresalga de las demás */
}

/* Styling the image in each card */
/*edicion de la imagenes en margin de 20px  y forma de los bordes redondeados 30%- como cambiar la posicion
 * de la imagenes haciendo que estas esten enzima y abajo este la nombre de cada personaje */
.tarjeta-de-mokepon img {
  width: 80px;
  margin: 20px;
  border-radius: 30%;
} 

/* Styling the pet selection button */
#boton-mascota {
  width: 320px;
  height: 50px;
  border-radius: 20px;
  background: #00C9A7;
  opacity:0.7;
  border: 2px solid white;
  color: white;
  /*cambio de estilo de las letras */
  font-family: 'Pixelify Sans', sans-serif;
  margin-top: 30px;
  font-size: 18px;
}

#boton-mascota:hover { /*Cambiar cuando el usurio coloca el mouse sobre este */
  background-color: #27f6fa;
}

/* Hiding the radio buttons */
input {
  display: none;
}


/*Uso de la pseudo clases en el elemento input para poder cambiar alguna
 * propiedad si el usuario interactua con este elemento */

/*indicar que el usuario a seleccionado el elemento input */
input:checked + label { /*El simbolo mas indica que podemos seleccionar un elemento hermano
                   es decir quienes tienen el mismo padre para esta caso en el div con la clase tarjetas */
 background-color: #8e13bc; 
  
}

/*Cuando el usuario pase su mouse por seleccion de mascotas este cambia de
 * color  */
input:hover + label {
  background-color: #c247f1;
}

/* Styling the attack selection section */
#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling the attack buttons */
.boton-de-ataque {
  background-color: #25ccaf;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  /*Modificacion de tamaño de los botones de ataque y margin de estos*/
  width: 230px;
  height: 100px;
  margin: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
  opacity: 0.7;
}

.boton-de-ataque:hover {
  background-color: #1eef95;
  width: 300px;
  height: 150px;
}


/* Styling the messages container */
#mensajes {
  width: 280px;
  background: #1aeff4;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity:0.7;
}

/* Styling the restart button */
#boton-reiniciar {
  border: none;
  color: #11468F;
  font-family: 'Poppins', sans-serif;
}

/* Styling the attacks container */
.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  color: white;
  text-align: center;
}

/* Styling the player and enemy lives */
#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  /* Stacking the cards vertically */
  .tarjetas {
    flex-direction: column;
  }

  /* Making the cards and buttons take up the full width of the screen */
  .tarjeta-de-mokepon, .boton-de-ataque {
    width: 100%;
  }
}
